PORT=3001
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=sistema_reservas_academico
JWT_SECRET=mi_clave_secreta_de_desarrollo
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:4201
CORS_ORIGINS=http://localhost:4201,https://reservix.netlify.app,https://*.netlify.app
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nico.tqj@gmail.com
SMTP_PASS=ohry ijzp qyqm nsgi
SMTP_FROM="Sistema Academico <nico.tqj@gmail.com>"
